.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  border-radius: 54% 46% 50% 50% / 32% 48% 52% 68%;
 
}


.waves{
position:absolute;
top:-5vh;
z-index: -1;
}


@media only screen and (max-width: 480px) {
  .item {
    width: 100%;
    margin-right: 30px;
  }
  img {
    width: 250px;
    height: 250px;
  }
  .wrapper {
    position: relative;
    width: 250px;
    height: 250px;
  }
  .layer1 {
    background-image: url('../assets/stacked-waves-haikei.svg');
  }
}

@media only screen and (max-width: 690px) {
  .list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .item {
    width: 100%;
    margin-bottom: 5%;
    padding-left: 25%;
  }
  img {
    width: 300px;
    height: 300px;
  }
  .wrapper {
    position: relative;
    width: 300px;
    height: 300px;
  }
}

@media screen and (min-width: 690px) and (max-width: 1090px) {
  .item {
    width: 50%;
    margin-bottom: 5%;
    padding-left: 30px;
  }
  img {
    width: 325px;
    height: 325px;
  }
  .wrapper {
    position: relative;
    width: 325px;
    height: 325px;
  }
}

@media screen and (min-width: 1090px) and (max-width: 1360px) {
  .item {
    width: 32%;
    margin-bottom: 5%;
  }
  img {
    width: 300px;
    height: 300px;
  }
  .wrapper {
    position: relative;
    width: 300px;
    height: 300px;
  }
}

@media screen and (min-width: 1360px) {
  .item {
    width: 15%;
    margin-bottom: 5%;
  }
  img {
    width: 175px;
    height: 175px;
  }
  .wrapper {
    position: relative;
    width: 175px;
    height: 175px;
    margin-bottom: 10px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
  border-radius: 54% 46% 50% 50% / 32% 48% 52% 68%
}

.wrapper:hover .overlay {
  opacity: 0.5;
  box-shadow: 10px 10px 5px 0px rgba(255, 10, 188, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(255, 10, 188, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(255, 10, 188, 0.75);
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.attributes {
  display: block;
}

.logo-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left:25%;
  margin-top: 30px;
  transition: transform .3s ease-in-out;
}

.logo-container:hover{
  transform:scale(1.1)
}
